base58
btchip-python
certifi
cffi
chardet
ckcc-protocol
click
construct
cryptography
ecdsa
hidapi
idna
libusb1
mnemonic
noiseprotocol
protobuf
pyaes
pycparser
requests
semver
setuptools
six
typing-extensions
urllib3
wheel