aiohttp
aiohttp-socks
aiorpcX
async-timeout
attrs
bitstring
certifi
chardet
dnspython
helpdev
idna
idna_ssl
multidict
pip
protobuf
python-socks
QDarkStyle
qrcode
QtPy
setuptools
six
typing-extensions
wheel
yarl
zipp
colorama
